<div class="row mb-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <img src="/img/logo.png" class="mx-auto d-block m-4 logo" alt="Logomarca Anotaqi">
            <h1 class="text-center">Sobre</h1>
            <hr>
            <p class="lead">Este aplicativo foi desenvolvido pelos alunos do curso de Desenvolvimento Web Full Stack da universidade
                PUC
                Minas. Desenvolvido em node, o aplicativo tem os seguintes recursos:</p>
            <ul>
                <li>Banco de dados MongoDB.</li>
                <li>Todas as senha são criptografadas pelo Bcryptjs.</li>
                <li>Autenticação utilizando o módulo Passport.</li>
                <li>Cadastro, edição e remoção de notas do usuário.</li>
                <li>Cadastro, edição e remoção de tarefas das notas cadastradas.</li>
            </ul>
            <hr>
            <p class="text-justify lead">Equipe do projeto</p>
            <ul>
                <li>Diego</li>
                <li>Demian</li>
                <li>Denis</li>
            </ul>
            <hr>
            <a href="/users/signin" class="btn btn-primary btn-block">Fazer Login</a>
            <a href="/users/signup" class="btn btn-success btn-block">Criar uma conta</a>
        </div>
    </div>
</div>