<div class="row">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <img src="/img/logo.png" class="mx-auto d-block m-4 logo" alt="Logomarca Anotaqi">
            <hr>
            <p class="lead text-justify">Este aplicativo foi desenvolvido na plataforma Node atráves de um trabalho em
                grupo da
                disciplina de
                Programação Web Node da Universidade PUC Minas. Sua utilização é livre! <b><a href="/about">Saiba
                        mais</a></b></p>
            <hr>
            <a href="/users/signin" class="btn btn-primary btn-block">Fazer Login</a>
            <a href="/users/signup" class="btn btn-success btn-block">Criar uma conta</a>
        </div>
    </div>
</div>